#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}
.workDesc{
    font-weight:300;
    font-size: 1rem;
}
.worksImgs{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: -10px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
    flex-wrap: wrap;
    margin:0;
}
.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.4rem;
    width: 20rem;
    border-radius: 3rem;
    cursor: pointer;
}
.workBtn{
  margin: 3rem 0;  
    padding:0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color:white;
    font-size: 1rem;
}
.workBtn:hover{
    border: 2px solid yellow;
    box-shadow: 0 0 20px yellow;
}
@media screen and (max-width: 480px){
   .worksImg{
    height: 48vw;
 width: 13rem;
} 
.worksImgs{

}
#works{
    margin-left: 7rem;
}
.workDesc{
    font-size: 2rem;
    width: 600px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 2.5rem;
}
}
@media screen and (max-width: 430px){
   .worksImg{
    height: 45vw;
 width: 10rem;
} 
.worksImgs{

}
#works{
    margin-left: 5rem;
}
.workDesc{
    font-size: 1.5rem;
    width: 550px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 2.5rem;
}
}
@media screen and (max-width: 820px){
   .worksImg{
    height: 30vw;
 width: 12rem;
} 
.worksImgs{

}
#works{
    margin-left: 1.5rem;
}
.workDesc{
    font-size: 1.8rem;
    width: 600px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 2.5rem;
}
}
@media screen and (max-width: 390px){
   .worksImg{
    height: 30vw;
 width: 7rem;
} 
.worksImgs{
    margin-left: 1.5rem;

}
#works{
    margin-left: -1rem;
}
.workDesc{
    font-size: 1rem;
    width: 300px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 2rem;
}
}
@media screen and (max-width: 428px){
   .worksImg{
    height: 30vw;
 width: 8rem;
} 
.worksImgs{
    margin-left: 1.5rem;

}
#works{
    margin-left: -1rem;
}
.workDesc{
    font-size: 1rem;
    width: 290px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 2rem;
}
}
@media screen and (max-width: 360px){
   .worksImg{
    height: 30vw;
 width: 6.5rem;
} 
.worksImgs{
    margin-left: 1.5rem;
    padding: 0.5rem;

}
#works{
    margin-left: -1rem;
}
.workDesc{
    font-size: 1.2rem;
    width: 290px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
}
@media screen and (max-width: 429px){
   .worksImg{
    height: 30vw;
 width: 6.5rem;
} 
.worksImgs{
    margin-left: 1.5rem;
    padding: 0.5rem;

}
#works{
    margin-left: -1rem;
}
.workDesc{
    font-size: 1.2rem;
    width: 290px;
    margin-block: 0.5rem;
}
.workBtn{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
}